<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 관리</title>
    <!-- 공통 Bootstrap 및 스타일 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <style>
        .filter-option {
            cursor: pointer;
            padding: 10px 20px;
            margin-right: 10px;
            border-radius: 5px;
            background-color: #f8f9fa;
            color: #495057;
            transition: background-color 0.3s;
        }

        .filter-option:hover {
            background-color: #6c757d;
            color: white;
        }

        .filter-option.active {
            background-color: #007bff;
            color: white;
        }

        .table th, .table td {
            vertical-align: middle;
        }

        .btn {
            margin-right: 5px;
        }

        .pagination {
            justify-content: center;
        }

        .modal-header {
            background-color: #f8f9fa;
        }

        .modal-footer {
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h3 class="font-weight-bold mb-4">상품 관리</h3>
    <p>상품 정보와 필터링 옵션을 관리할 수 있는 페이지입니다.</p>
    <hr>

    <!-- 필터 섹션 -->
    <!-- 국내/외 필터링 -->
    <div class="d-flex justify-content-between">
        <div class="card mb-4 col-8 d-flex">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control searchKeyword"
                                   th:placeholder="${keyword == null} ? '상품명으로 검색' : ${keyword}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary searchKeywordBtn" type="button">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                                data-target="#advancedSearch">
                            고급 검색 <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>
                </div>

                <div class="collapse mt-3" id="advancedSearch">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="dateRange">국내 / 국외</label>
                            <select class="form-control" id="dateRange">
                                <option value="0">국내</option>
                                <option value="1">국외</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="searchCategory">카테고리</label>
                            <select id="searchCategory" name="searchCategory" class="form-control">
                                <option value="">카테고리를 선택하세요</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="searchSubCategory">서브 카테고리</label>
                            <select id="searchSubCategory" name="searchSubCategory" class="form-control">
                                <option value="">카테고리를 선택하세요</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-primary" type="button" id="applyFilters">필터
                                적용
                            </button>
                            <button class="btn btn-secondary" type="button"
                                    id="resetFilters">초기화
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 수정/삭제 버튼 -->
        <div class="search-section d-flex align-items-center col-4">
            <input type="number" class="form-control mr-2" placeholder="할인율" id="setDiscount" style="width: 100px;">
            <button class="btn btn-primary" onclick="updateBulkStatus()">적용</button>
            <button class="btn btn-danger delete-button">
                선택항목 삭제
            </button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">상품 추가</button>
        </div>

    </div>

    <!-- 상품 테이블 -->
    <table class="table table-bordered text-center">
        <thead class="thead-light">
        <tr>
            <th><input type="checkbox" id="select-all" onclick="toggleAllCheckboxes(this)"></th>
            <th>제목</th>
            <th>저자</th>
            <th>출판사</th>
            <th>카테고리</th>
            <th>서브 카테고리</th>
            <th>할인율</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${bookList}">
            <td><input type="checkbox" class="book-checkbox" th:data-id="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.category.name}"></td>
            <td th:text="${book.subcategory.name}"></td>
            <td th:text="${book.discount + '%'}"></td>
            <td>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#productModal" th:data-book-id="${book.id}">수정</button>
                <button class="btn btn-danger btn-sm delete-button" th:data-book-id="${book.id}">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <nav>
        <ul class="pagination">
            <!-- 처음 -->
            <li class="page-item" th:classappend="${page.first} ? 'disabled' : ''">
                <a class="page-link" th:if="${!page.first}" th:href="@{/admin/book(page=0)}">처음</a>
                <span class="page-link" th:if="${page.first}">처음</span>
            </li>

            <!-- 이전 -->
            <li class="page-item" th:classappend="${page.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:if="${page.hasPrevious()}" th:href="@{/admin/book(page=${page.number - 1})}">이전</a>
                <span class="page-link" th:if="${!page.hasPrevious()}">이전</span>
            </li>

            <!-- 페이지 번호 -->
            <li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:classappend="${i == page.number} ? 'active' : ''">
                <a class="page-link" th:href="@{/admin/book(page=${i})}" th:text="${i + 1}"></a>
            </li>

            <!-- 다음 -->
            <li class="page-item" th:classappend="${page.hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:if="${page.hasNext()}" th:href="@{/admin/book(page=${page.number + 1})}">다음</a>
                <span class="page-link" th:if="${!page.hasNext()}">다음</span>
            </li>

            <!-- 마지막 -->
            <li class="page-item" th:classappend="${page.last} ? 'disabled' : ''">
                <a class="page-link" th:if="${!page.last}" th:href="@{/admin/book(page=${page.totalPages - 1})}">마지막</a>
                <span class="page-link" th:if="${page.last}">마지막</span>
            </li>
        </ul>
    </nav>

</div>

<!-- 수정 모달 -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">상품 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="productForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="author">저자</label>
                        <input type="text" class="form-control" id="author" name="author" required>
                    </div>
                    <div class="form-group">
                        <label for="publisher">출판사</label>
                        <input type="text" class="form-control" id="publisher" name="publisher" required>
                    </div>
                    <div class="form-group">
                        <label for="publishDate">출판 날짜</label>
                        <input type="date" class="form-control" id="publishDate" name="publishDate" required>
                    </div>

                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input type="number" class="form-control" id="isbn" name="isbn" required>
                    </div>
                    <div class="form-group">
                        <label for="stock">재고</label>
                        <input type="number" class="form-control" id="stock" name="stock" required>
                    </div>
                    <div class="form-group">
                        <label for="ifkr">국내/국외</label>
                        <select class="form-control" name="ifkr" id="ifkr" required>
                            <option value="0">국내</option>
                            <option value="1">국외</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price">가격</label>
                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>

                    <!-- 카테고리 선택 -->
                    <div class="form-group">
                        <label for="category">카테고리</label>
                        <select id="category" name="category" class="form-control">
                            <option value="">카테고리를 선택하세요</option>
                        </select>
                    </div>

                    <!-- 세부 카테고리 선택 -->
                    <div class="form-group">
                        <label for="subcategory">세부 카테고리</label>
                        <select id="subcategory" name="subcategory" class="form-control">
                            <option value="">세부 카테고리를 선택하세요</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="discount">할인율</label>
                        <input type="number" class="form-control" id="discount" name="discount" required>
                    </div>

                    <!-- 책 설명 -->
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="bookdescriptionId" name="bookdescription" required>
                    </div>
                    <div class="form-group">
                        <label for="description">설명</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                    <div class="form-group">
                        <label for="writer">작가 설명</label>
                        <input type="text" class="form-control" id="writer" name="writer">
                    </div>
                    <div class="form-group">
                        <label for="contents">목차</label>
                        <input type="text" class="form-control" id="contents" name="contents">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 추가 모달 -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">상품 추가</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addProductForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addTitle">제목</label>
                        <input type="text" class="form-control" id="addTitle" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="addAuthor">저자</label>
                        <input type="text" class="form-control" id="addAuthor" name="author" required>
                    </div>
                    <div class="form-group">
                        <label for="addPublisher">출판사</label>
                        <input type="text" class="form-control" id="addPublisher" name="publisher" required>
                    </div>
                    <div class="form-group">
                        <label for="addPublishDate">출판 날짜</label>
                        <input type="date" class="form-control" id="addPublishDate" name="publishDate" required>
                    </div>
                    <div class="form-group">
                        <label for="addISBN">ISBN</label>
                        <input type="number" class="form-control" id="addISBN" name="isbn" required>
                    </div>
                    <div class="form-group">
                        <label for="addStock">재고</label>
                        <input type="number" class="form-control" id="addStock" name="stock" required>
                    </div>
                    <div class="form-group">
                        <label for="addIfkr">국내/국외</label>
                        <select class="form-control" name="ifkr" id="addIfkr" required>
                            <option value="0">국내</option>
                            <option value="1">국외</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addPrice">가격</label>
                        <input type="number" class="form-control" id="addPrice" name="price" required>
                    </div>
                    <div class="form-group">
                        <label for="addCategory">카테고리</label>
                        <select id="addCategory" name="category" class="form-control">
                            <option value="">카테고리를 선택하세요</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addSubcategory">세부 카테고리</label>
                        <select id="addSubcategory" name="subcategory" class="form-control">
                            <option value="">세부 카테고리를 선택하세요</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addDiscount">할인율</label>
                        <input type="number" class="form-control" id="addDiscount" name="discount" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="addBookDescriptionId" name="bookdescription"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="addDescription">설명</label>
                        <input type="text" class="form-control" id="addDescription" name="description">
                    </div>
                    <div class="form-group">
                        <label for="addWriter">작가 설명</label>
                        <input type="text" class="form-control" id="addWriter" name="writer">
                    </div>
                    <div class="form-group">
                        <label for="addContents">목차</label>
                        <input type="text" class="form-control" id="addContents" name="contents">
                    </div>
                    <div class="form-group">
                        <label for="addFile">책 이미지</label>
                        <input type="file" name="file" id="addFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- JavaScript 코드 -->

<script>
    document.addEventListener("DOMContentLoaded", () => {
        //초기화
        initSelectAll();
    });

    // 전체 선택 체크박스 초기화
    function initSelectAll() {
        document.getElementById("select-all").addEventListener("change", event => {
            const isChecked = event.target.checked;
            document.querySelectorAll(".book-checkbox").forEach(cb => {
                cb.checked = isChecked;
            });
        });
    }
    //체크박스 일괄체크/해제
    function toggleAllCheckboxes(checkbox) {
        const checkboxes = document.querySelectorAll('.book-checkbox');
        checkboxes.forEach(cb => cb.checked = checkbox.checked);
    }


    //검색창 카테고리와 서브카테고리
    $(document).ready(function () {
        // 카테고리 목록 로드
        $.ajax({
            url: '/admin/categories/category',
            method: 'GET',
            success: function (categories) {
                console.log('카테고리 데이터:', categories); // 카테고리 데이터 확인용 로그
                $('#searchCategory').empty();
                $('#searchCategory').append(new Option("카테고리를 선택하세요", "")); // 기본 옵션 추가
                categories.forEach(function (category) {
                    $('#searchCategory').append(new Option(`${category.id}: ${category.name}`, category.id));
                });
            },
            error: function (xhr, status, error) {
                console.error('카테고리 로드 실패:', error);
            }
        });

// 카테고리 선택 변경 시 관련 서브카테고리 로드
        $('#searchCategory').on('change', function () {
            const selectedCategoryId = $(this).val();
            console.log('선택된 카테고리 ID:', selectedCategoryId); // 선택된 카테고리 확인용 로그

            if (selectedCategoryId) {
                $.ajax({
                    url: `/admin/subcategories/${selectedCategoryId}`,
                    method: 'GET',
                    success: function (subcategories) {
                        console.log('서브카테고리 데이터:', subcategories); // 서브카테고리 데이터 확인용 로그
                        $('#searchSubCategory').empty();
                        $('#searchSubCategory').append(new Option("서브카테고리를 선택하세요", ""));
                        subcategories.forEach(function (subcategory) {
                            $('#searchSubCategory').append(new Option(`${subcategory.id}: ${subcategory.name}`, subcategory.id));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('서브카테고리 로드 실패:', error);
                    }
                });
            } else {
                $('#searchSubCategory').empty();
                $('#searchSubCategory').append(new Option("서브카테고리를 선택하세요", ""));
            }
        });
    });

    //수정모달 카테고리와 서브카테고리
    $(document).ready(function () {
        // 카테고리 목록 로드
        $.ajax({
            url: '/admin/categories/category',
            method: 'GET',
            success: function (categories) {
                console.log('카테고리 데이터:', categories); // 카테고리 데이터 확인용 로그
                $('#category').empty();
                $('#category').append(new Option("카테고리를 선택하세요", "")); // 기본 옵션 추가
                categories.forEach(function (category) {
                    $('#category').append(new Option(`${category.id}: ${category.name}`, category.id));
                });
            },
            error: function (xhr, status, error) {
                console.error('카테고리 로드 실패:', error);
            }
        });

// 카테고리 선택 변경 시 관련 서브카테고리 로드
        $('#category').on('change', function () {
            const selectedCategoryId = $(this).val();
            console.log('선택된 카테고리 ID:', selectedCategoryId); // 선택된 카테고리 확인용 로그

            if (selectedCategoryId) {
                $.ajax({
                    url: `/admin/subcategories/${selectedCategoryId}`,
                    method: 'GET',
                    success: function (subcategories) {
                        console.log('서브카테고리 데이터:', subcategories); // 서브카테고리 데이터 확인용 로그
                        $('#subcategory').empty();
                        $('#subcategory').append(new Option("서브카테고리를 선택하세요", ""));
                        subcategories.forEach(function (subcategory) {
                            $('#subcategory').append(new Option(`${subcategory.id}: ${subcategory.name}`, subcategory.id));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('서브카테고리 로드 실패:', error);
                    }
                });
            } else {
                $('#subcategory').empty();
                $('#subcategory').append(new Option("서브카테고리를 선택하세요", ""));
            }
        });
    });

    // 날짜 포맷 변환 함수 (ISO 형식으로 변환)
    function formatDateToISOString(date) {
        const d = new Date(date);
        return d.toISOString(); // ISO 형식으로 반환
    }

    //책 수정 모달 스크립트
    $('#productModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var bookId = button.data('book-id');

        if (!bookId) {
            $('#productForm')[0].reset();
            $('#bookId').val('');
            return;
        }

        // 책 정보 가져오기
        $.ajax({
            url: '/admin/book/' + bookId,
            method: 'GET',
            success: function (data) {
                $('#bookId').val(data.id || '');
                $('#title').val(data.title || '');
                $('#author').val(data.author || '');
                $('#publisher').val(data.publisher || '');
                $('#isbn').val(data.isbn || '');
                $('#stock').val(data.stock || '');
                $('#ifkr').val(data.ifkr);
                $('#price').val(data.price || '');
                $('#discount').val(data.discount || '');

                // 날짜를 yyyy-MM-dd 형식으로 설정 (ISO 형식에서 날짜 부분만 추출)
                $('#publishDate').val(data.publishDate ? data.publishDate.split('T')[0] : '');

                // 카테고리 선택
                $('#category').val(data.category ? data.category.id : '');

                // 선택된 카테고리 기반으로 서브카테고리 로드
                if (data.category) {
                    $.ajax({
                        url: `/admin/subcategories/${data.category.id}`,
                        method: 'GET',
                        success: function (subcategories) {
                            $('#subcategory').empty();
                            $('#subcategory').append(new Option("세부 카테고리를 선택하세요", ""));
                            subcategories.forEach(function (subcategory) {
                                var option = new Option(`${subcategory.id}: ${subcategory.name}`, subcategory.id);
                                if (subcategory.id === data.subcategory.id) {
                                    option.selected = true;
                                }
                                $('#subcategory').append(option);
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error('서브카테고리 로드 실패:', error);
                        }
                    });
                }

                // 책 설명 정보 설정
                $('#bookdescriptionId').val(data.bookdescription ? data.bookdescription.id : '');
                $('#description').val(data.bookdescription ? data.bookdescription.description : '');
                $('#writer').val(data.bookdescription ? data.bookdescription.writer : '');
                $('#contents').val(data.bookdescription ? data.bookdescription.contents : '');
            },
            error: function (xhr, status, error) {
                console.error('데이터 로드 실패:', error);
                console.log(xhr.responseText);
            }
        });
    });


    // 책 설명 ID 변경 시 새로운 데이터 로드
    $('#bookdescriptionId').on('change', function () {
        const descriptionId = $(this).val();
        if (descriptionId) {
            $.ajax({
                url: `/admin/bookdescription/${descriptionId}`,  // 해당 ID로 요청
                method: 'GET',
                success: function (data) {
                    // 받은 데이터로 필드 업데이트
                    $('#description').val(data.description || '');
                    $('#writer').val(data.writer || '');
                    $('#contents').val(data.contents || '');
                },
                error: function (xhr, status, error) {
                    console.error('책 설명 정보 로드 실패:', error);
                }
            });
        } else {
            // ID가 없는 경우 입력 필드 초기화
            $('#description').val('');
            $('#writer').val('');
            $('#contents').val('');
        }
    });

    // 폼 제출 시 Book 수정 요청
    $('#productForm').on('submit', function (event) {
        event.preventDefault();
        const bookId = $('#bookId').val();
        const publishDateISO = formatDateToISOString($('#publishDate').val());

        console.log("BookDescription ID:", $('#bookdescriptionId').val());
        const title = $('#title').val();
        const author = $('#author').val();
        const publisher = $('#publisher').val();
        const isbn = $('#isbn').val();
        const stock = $('#stock').val();
        const ifkr = $('#ifkr').val();
        const price = $('#price').val();
        const discount = $('#discount').val();
        const count = $('#count').val() || 0;
        const category = {id: $('#category').val()};
        const subcategory = {id: $('#subcategory').val()};
        const publishDate = publishDateISO;
        const bookdescription = {id: $('#bookdescriptionId').val()};
        const fileInputs = $("#file")[0].files;
        // FormData 객체 생성 및 데이터 추가
        const formData = new FormData();
        formData.append('id', bookId);
        formData.append('title', title);
        formData.append('author', author);
        formData.append('publisher', publisher);
        formData.append('isbn', isbn);
        formData.append('stock', stock);
        formData.append('ifkr', ifkr);
        formData.append('price', price);
        formData.append('discount', discount);
        formData.append('count', count);
        formData.append('publishDate', publishDate);
        // 파일 배열을 반복하여 추가
        for (let i = 0; i < fileInputs.length; i++) {
            formData.append('files', fileInputs[i]);
        }

        // Book 업데이트 요청
        $.ajax({
            url: bookId ? '/admin/book/update' : '/admin/book/add',
            method: bookId ? 'PUT' : 'POST',
            processData: false,
            contentType: false,
            data: {
                formData,
                category: category,
                subcategory: subcategory,
                bookdescription: bookdescription
            }, success:
                function (response) {
                    // Book 업데이트 성공 시 BookDescription 업데이트 요청
                    const bookDescriptionId = $('#bookdescriptionId').val();
                    console.log("BookDescription ID:", $('#bookdescriptionId').val());

                    if (bookDescriptionId) {
                        $.ajax({
                            url: `/admin/bookdescription/update/${bookDescriptionId}`,
                            method: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                id: bookDescriptionId,
                                description: $('#description').val(),
                                writer: $('#writer').val(),
                                contents: $('#contents').val()
                            }),
                            success: function () {
                                $('#productModal').modal('hide');
                                location.reload();
                            },
                            error: function (xhr, status, error) {
                                console.error('BookDescription 수정 실패:', error);
                            }
                        });
                    } else {
                        console.error('BookDescription ID가 유효하지 않습니다.');
                    }
                }

            ,
            error: function (xhr, status, error) {
                console.error('Book 수정 실패:', error);
            }
        })
        ;
    })
    ;

    //상품 추가 모달

    // 상품 추가 모달 열릴 때 카테고리 및 서브카테고리 로드
    $('#addProductModal').on('show.bs.modal', function () {
        // 카테고리 목록 로드
        $.ajax({
            url: '/admin/categories/category',
            method: 'GET',
            success: function (categories) {
                $('#addCategory').empty().append(new Option("카테고리를 선택하세요", ""));
                categories.forEach(function (category) {
                    $('#addCategory').append(new Option(`${category.id}: ${category.name}`, category.id));
                });
            },
            error: function (xhr, status, error) {
                console.error('카테고리 로드 실패:', error);
            }
        });
    });

    // 카테고리 변경 시 서브카테고리 로드
    $('#addCategory').on('change', function () {
        const selectedCategoryId = $(this).val();
        if (selectedCategoryId) {
            $.ajax({
                url: `/admin/subcategories/${selectedCategoryId}`,
                method: 'GET',
                success: function (subcategories) {
                    $('#addSubcategory').empty().append(new Option("세부 카테고리를 선택하세요", ""));
                    subcategories.forEach(function (subcategory) {
                        $('#addSubcategory').append(new Option(`${subcategory.id}: ${subcategory.name}`, subcategory.id));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('서브카테고리 로드 실패:', error);
                }
            });
        } else {
            $('#addSubcategory').empty().append(new Option("세부 카테고리를 선택하세요", ""));
        }
    });

    // 책 설명 ID 변경 시 새로운 데이터 로드 (추가 모달)
    $('#addBookDescriptionId').on('change', function () {
        const descriptionId = $(this).val();
        if (descriptionId) {
            $.ajax({
                url: `/admin/bookdescription/${descriptionId}`,  // 해당 ID로 요청
                method: 'GET',
                success: function (data) {
                    // 받은 데이터로 필드 업데이트
                    $('#addDescription').val(data.description || '');
                    $('#addWriter').val(data.writer || '');
                    $('#addContents').val(data.contents || '');
                },
                error: function (xhr, status, error) {
                    console.error('책 설명 정보 로드 실패:', error);
                }
            });
        } else {
            // ID가 없는 경우 입력 필드 초기화
            $('#addDescription').val('');
            $('#addWriter').val('');
            $('#addContents').val('');
        }
    });

    // 상품 추가 폼 제출 시 새로운 상품 추가 요청
    $('#addProductForm').on('submit', function (event) {
        event.preventDefault();
        const title = $('#addTitle').val();
        const author = $('#addAuthor').val();
        const publisher = $('#addPublisher').val();
        const publishDate = $('#addPublishDate').val();
        const isbn = $('#addISBN').val();
        const stock = $('#addStock').val();
        const ifkr = $('#addIfkr').val();
        const price = $('#addPrice').val();
        const discount = $('#addDiscount').val();
        const count = $('#addCount').val() || 0;
        const categoryId = $('#addCategory').val();
        const subcategoryId = $('#addSubcategory').val();
        const bookDescriptionId = $('#addBookDescriptionId').val();
        const description = $('#addDescription').val();
        const writer = $('#addWriter').val();
        const contents = $('#addContents').val();
        const fileInputs = $("#addFile")[0].files;

        // FormData 객체 생성 및 데이터 추가
        const formData = new FormData();
        formData.append('title', title);
        formData.append('author', author);
        formData.append('publisher', publisher);
        formData.append('publish_Date', publishDate);
        formData.append('isbn', isbn);
        formData.append('stock', stock);
        formData.append('ifkr', ifkr);
        formData.append('price', price);
        formData.append('discount', discount);
        formData.append('count', count);
        formData.append('category.id', categoryId);
        formData.append('subcategory.id', subcategoryId);
        formData.append('bookdescription.id', bookDescriptionId);
        formData.append('bookdescription.description', description);
        formData.append('bookdescription.writer', writer);
        formData.append('bookdescription.contents', contents);

        // 파일 배열을 반복하여 추가
        for (let i = 0; i < fileInputs.length; i++) {
            formData.append('files', fileInputs[i]);
        }

        $.ajax({
            url: '/admin/book/add',
            method: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function () {
                $('#addProductModal').modal('hide');
                location.reload(); // 페이지 새로고침으로 목록 업데이트
            },
            error: function (xhr, status, error) {
                console.error('상품 추가 실패:', error);
            }
        });
    });

    // 삭제 버튼 클릭 이벤트
    $('.delete-button').on('click', function () {
        const bookId = $(this).data('book-id');
        if (confirm("이 책을 정말 삭제하시겠습니까?")) {
            $.ajax({
                url: `/admin/book/delete/${bookId}`,
                method: 'DELETE',
                success: function () {
                    alert("삭제가 완료되었습니다.");
                    location.reload(); // 페이지 새로고침으로 목록 업데이트
                },
                error: function (xhr, status, error) {
                    console.error('삭제 실패:', error);
                    alert("삭제에 실패했습니다.");
                }
            });
        }
    });
</script>

</body>
</html>
