<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QnA Control</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <style>
        .container{
            display: flex;
        }
        .col-8{
            width: 66.6667%;
        }
        .col-4{
            width: 33.333333%;
        }
    </style>
</head>
<body>
    <!-- nav bar? 미구현  카테고리 탭 구현과 검색 미구현,모달창 미구현, 답변하기 controller와 html 미구현-->
    <div class="container">
        <div class="col-8">
            <table>
                <tr>
                    <td>체크박스</td>
                    <td>QnA 아이디</td>
                    <td>유저 이름</td>
                    <td>질문 카테고리</td>
                    <td>질문 제목</td>
                    <td>질문 내용</td>
                    <td>질문 답변</td>
                    <td>질문 시간</td>
                </tr>
                <tr th:each="qnAPage : ${qnAPage}">
                    <td> <input type="checkbox" name="checkBoxQnA"></td>
                    <td th:text="${qnAPage.id}"></td>
                    <td th:text="${qnAPage.user.name}"></td>
                    <td th:text="${qnAPage.category}"></td>
                    <td th:text="${qnAPage.title}"></td>
                    <td th:text="${qnAPage.question}"></td>
                    <td th:text="${qnAPage.answer}"></td>
                    <td th:text="${qnAPage.createAt}"></td>
                </tr>
            </table>
            <!-- 페이징 -->
            <div>
                <!-- 이전 페이지 그룹 -->
                <a th:if="${startPage > 0}"
                   th:href="@{/admin/qna(page=${startPage - 1}, size=${qnAPage.size}, keyword=${keyword}, searchType=${searchType})}">
                    이전
                </a>

                <!-- 페이지 번호 그룹 -->
                <span th:each="i : ${#numbers.sequence(startPage, endPage - 1)}">
                <a th:href="@{/admin/qna(page=${i}, size=${qnAPage.size}, keyword=${keyword}, searchType=${searchType})}"
                   th:text="${i + 1}"
                   th:classappend="${qnAPage.number == i ? 'active' : ''}"></a>
                </span>
                <!-- 다음 페이지 그룹 -->
                <a th:if="${endPage < qnAPage.totalPages}"
                   th:href="@{/admin/qna(page=${endPage}, size=${qnAPage.size}, keyword=${keyword}, searchType=${searchType})}">
                    다음
                </a>
            </div>
        </div>
        <div class="col-4">
            모달창
        </div>
    </div>
</body>
</html>