server:
  port: 8080
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1066169381981-sivtopv6illfnvpvivr3cf0lk9mu3vb7.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            authorization-grant-type: authorization_code
          naver:
            client-id: 7vqQgsAJ_gaAGR4R11XY
            client-secret: Os9hd6WQcX
            scope:
              - name
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
          kakao:
            client-id: fe4230b21fe370fd7dad75604291961d
            scope:
              - profile_nickname
              - account_email
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true
  datasource:
    url: jdbc:mysql://localhost:3306/ezbook?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  mail:
    host: smtp.naver.com
    port: 465
    username: qsdcv301@naver.com
    password: 
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true
file:
  upload-dir: C:/ezenBookStore/images
#jwt:
#  issuer:
#  secret_key: