<div th:fragment="questionUser" th:if="${userData}" class="tab-pane fade" id="inquiry" role="tabpanel"
     th:classappend="${param.qnaPage != null && param.orderPage == null} ? 'show active'">
  <h3>문의하기</h3>

  <div class="card mb-4">
    <div class="card-header text-left">
                        <span style="font-size: 20px;">나의 문의 내역<small class="text-muted"
                                                                      style="font-size: 15px; margin-left: 20px;">자세한 문의 내용을 보려면 상세보기를 눌러주세요.</small></span>
      <div class="float-right">
        <select id="userQnASelect" class="custom-select mr-2" style="width: 150px;">
          <option value="0" th:selected="${sort == 0}">전체 문의</option>
          <option value="1" th:selected="${sort == 1}">주문/결제</option>
          <option value="2" th:selected="${sort == 2}">배송</option>
          <option value="3" th:selected="${sort == 3}">반품/교환</option>
          <option value="4" th:selected="${sort == 4}">상품문의</option>
          <option value="5" th:selected="${sort == 5}">기타</option>
        </select>
      </div>
    </div>
    <div class="card-body">
      <table class="dataframe table table-striped">
        <thead>
        <tr>
          <th>번호</th>
          <th>유형</th>
          <th>제목</th>
          <th>날짜</th>
          <th>답변 상태</th>
          <th>상세보기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qna : ${questionList}">
          <td class="align-middle" th:text="${qna.id}"></td>
          <td class="align-middle" th:switch="${qna.category}">
            <span th:case="1">주문/결제</span>
            <span th:case="2">배송</span>
            <span th:case="3">반품/교환</span>
            <span th:case="4">상품문의</span>
            <span th:case="5">기타</span>
          </td>
          <td class="align-middle" th:text="${qna.title}"></td>
          <td class="align-middle" th:text="${#dates.format(qna.createAt, 'yyyy-MM-dd')}"></td>
          <td class="text-danger align-middle" th:if="${qna.answer==''}">답변 대기</td>
          <td class="text-success align-middle" th:unless="${qna.answer==''}">답변 완료</td>
          <td class="d-flex align-items-center align-middle">
            <button class="btn btn-primary questionDetailBtn" th:data-id="${qna.id}"
                    data-toggle="modal" data-target="#inquiryDetailModal">상세보기
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <th:block th:if="${qnaPage != null and qnaPage.totalElements > 0}">
        <!-- 페이징 -->
        <nav aria-label="Page navigation" class="mt-4">
          <ul class="pagination justify-content-center">
            <!-- 첫 페이지 버튼 -->
            <li class="page-item" th:classappend="${qnaPage.first} ? 'disabled' : ''">
              <a class="page-link"
                 th:href="${mypage != null} ? @{/user/info(qnaPage=0)} : @{/customerService(qnaPage=0)}"
                 aria-label="First">
                << 처음
              </a>
            </li>

            <!-- 이전 페이지 버튼 -->
            <li class="page-item"
                th:classappend="${qnaPage.hasPrevious} ? '' : 'disabled'">
              <a class="page-link"
                 th:href="${mypage != null} ? @{/user/info(qnaPage=${qnaPage.number - 1})} : @{/customerService(qnaPage=${qnaPage.number - 1})}"
                 aria-label="Previous">
                이전
              </a>
            </li>

            <!-- 페이지 번호 버튼 (최대 5개까지 보이도록 설정) -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(
                                            qnaPage.totalPages <= 5 ? 0 : (qnaPage.number <= 2 ? 0 : (qnaPage.number >= qnaPage.totalPages - 3 ? qnaPage.totalPages - 5 : qnaPage.number - 2)),
                                            qnaPage.totalPages <= 5 ? qnaPage.totalPages - 1 : (qnaPage.number <= 2 ? 4 : (qnaPage.number >= qnaPage.totalPages - 3 ? qnaPage.totalPages - 1 : qnaPage.number + 2))
                                            )}"
                th:classappend="${qnaPage.number == i} ? 'active' : ''">
              <a class="page-link"
                 th:href="${mypage != null} ? @{/user/info(qnaPage=${i})} : @{/customerService(qnaPage=${i})}"
                 th:text="${i + 1}"></a>
            </li>

            <!-- 다음 페이지 버튼 -->
            <li class="page-item" th:classappend="${qnaPage.hasNext} ? '' : 'disabled'">
              <a class="page-link"
                 th:href="${mypage != null} ? @{/user/info(qnaPage=${qnaPage.number + 1})} : @{/customerService(qnaPage=${qnaPage.number + 1})}"
                 aria-label="Next">
                다음
              </a>
            </li>

            <!-- 맨 뒤 페이지 버튼 -->
            <li class="page-item" th:classappend="${qnaPage.last} ? 'disabled' : ''">
              <a class="page-link"
                 th:href="${mypage != null} ? @{/user/info(qnaPage=${qnaPage.totalPages - 1})} : @{/customerService(qnaPage=${qnaPage.totalPages - 1})}"
                 aria-label="Last">
                끝 >>
              </a>
            </li>
          </ul>
        </nav>
      </th:block>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-4">
    <button type="button" class="btn btn-lg btn-primary" style="width: 300px;" data-toggle="modal"
            data-target="#inquiryModal">
      문의하기
    </button>
  </div>
  <!--문의하기 및 상세보기 모달-->
  <th:block th:if="${userData}">
    <div th:replace="~{fragments/questionModal :: questionModal}"></div>
    <div th:replace="~{fragments/questionDetailModal :: questionDetailModal}"></div>
  </th:block>
  <!--문의하기 모달 끝-->
</div>