<div th:fragment="questionModal" class="modal fade questionModal" id="inquiryModal" tabindex="-1" role="dialog"
     aria-labelledby="inquiryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="inquiryModalLabel">관리자에게 문의하기</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="form-group row col-md-6">
              <label for="inquiryType" class="col-sm-4 col-form-label">문의 유형</label>
              <div class="col-sm-8">
                <select class="form-control form-control-sm" id="inquiryType" required name="category">
                  <option value="0">유형을 선택해주세요</option>
                  <option value="1">주문/결제</option>
                  <option value="2">배송</option>
                  <option value="3">반품/교환</option>
                  <option value="4">상품문의</option>
                  <option value="5">기타</option>
                </select>
              </div>
            </div>
            <!--user.name-->
            <div class="form-group row col-md-6">
              <label for="memberName" class="col-sm-4 col-form-label">회원명</label>
              <div class="col-sm-8">
                <input type="text" th:value="${user.name}" class="form-control form-control-sm" id="memberName" name="name"
                       required readonly>
              </div>
            </div>
            <!--user.email-->
            <div class="form-group row col-md-6">
              <label for="memberEmail" class="col-sm-4 col-form-label">이메일</label>
              <div class="col-sm-8">
                <input type="email" th:value="${user.email}" class="form-control form-control-sm" name="email"
                       id="memberEmail" required readonly>
              </div>
            </div>
            <!--user.tel-->
            <div class="form-group row col-md-6">
              <label for="phoneNumber" class="col-sm-4 col-form-label">전화번호</label>
              <div class="col-sm-8">
                <input type="tel" th:value="${user.tel}" class="form-control form-control-sm" id="phoneNumber" name="tel"
                       required readonly>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="inquiryTitle">제목</label>
              <input type="text" class="form-control form-control-sm" id="inquiryTitle" name="title"
                     required>
            </div>
            <div class="form-group col-md-12">
              <label for="inquiryContent">문의내용</label>
              <textarea class="form-control form-control-sm" id="inquiryContent" rows="5" name="question"
                        required></textarea>
              <div class="custom-file mt-2">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">파일을 첨부해주세요.</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- 문의제출 버튼 클릭시 qna데이터베이스에 데이터 저장// 닫기 버튼 누를시 모달창 닫기-->
      <div class="modal-footer">
        <button class="btn btn-primary questionModalBtn">문의 제출</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>