<div th:fragment="sidebar" class="col-2 adminAside px-0 m-0">
    <nav class="sidebar">
        <h2 class="pt-5 pb-3" style="text-align: center; font-weight: bolder;">
            <i class="fas fa-user-cog mr-2"></i>관리자 모드
        </h2>
        <div class="navbar-log mb-4" style="text-align: center;">
            <span class="navbar-text">환영합니다, 관리자님!</span>
        </div>
        <hr>

        <!-- 메뉴탭 -->
        <ul class="mt-3" style="height: 655px;">
            <!-- 대시보드 -->
            <li><i class="fas fa-th-large mr-2"></i> <a href="/admin">
                <strong>대시보드</strong><div class="underline"></div>
            </a></li>

            <li><i class="fas fa-shopping-cart mr-2"></i> <a href="/admin/order"><strong>주문, 결제, 배송 관리</strong><div class="underline"></div></a>
            </li>
            <li><i class="fas fa-book mr-2"></i> <a href="/admin/book"><strong>도서 관리</strong><div class="underline"></div></a>
                <ul class="pl-3">
                    <li><a href="/admin/book">도서 조회 및 관리<div class="underline"></div></a></li>
                    <li><a href="/admin/categories">도서별 카테고리 관리<div class="underline"></div></a></li>
                </ul>
            </li>
            <li><i class="fas fa-user mr-2"></i> <strong><a href="/admin/user">회원 정보 관리<div class="underline"></div></a></strong>
            </li>
            <li><i class="fas fa-comments mr-2"></i> <a href="/admin/notice"><strong>게시판 관리</strong><div class="underline"></div></a>
                <ul class="pl-3">
                    <li><a href="/admin/notice">공지사항 관리</a><div class="underline"></div></li>
                    <li><a href="/admin/event">이벤트 관리</a><div class="underline"></div></li>
                    <li><a href="/admin/qna">문의하기 관리</a><div class="underline"></div></li>
                    <li><a href="/admin/review">리뷰 평점 관리</a><div class="underline"></div></li>
                </ul>
            </li>
        </ul>

        <!-- 하단 -->
        <div class="sidebar-last" style="text-align: center;">
            <hr>
            <a href="/">메인화면<i class="fas fa-reply ml-1"></i></a>
            <span class="ml-2 mr-2"> | </span>
            <a href="/logout">로그아웃<i class="fas fa-sign-out-alt ml-1"></i></a>
        </div>
    </nav>
</div>