<div th:fragment="signupTermsModal" class="modal fade" id="termsModal" tabindex="-1" role="dialog"
    aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">이용약관</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto" style="max-height: 550px;">
                <h6 class="mb-4"><strong class="text-primary">EzenBookStore</strong> 이용약관</h6>
                <h6>제1조 (목적)</h6>
                <p>이 약관은 EzenBookStore(이하 "회사")가 제공하는 온라인 서점 서비스(이하 "서비스")의 이용조건 및 절차, 회사와 회원 간의 권리, 의무 및 책임사항 등을 규정함을
                    목적으로 합니다.</p>

                <h6>제2조 (용어의 정의)</h6>
                <p>1. "회원"이란 회사와 서비스 이용계약을 체결하고 회사가 제공하는 서비스를 이용하는 자를 말합니다.</p>
                <p>2. "아이디(ID)"란 회원의 식별과 서비스 이용을 위하여 회원이 설정하고 회사가 승인하는 문자와 숫자의 조합을 말합니다.</p>

                <h6>제3조 (서비스의 제공 및 변경)</h6>
                <p>1. 회사는 다음과 같은 서비스를 제공합니다:</p>
                <ul>
                    <li>도서 정보 제공 및 판매</li>
                    <li>도서 리뷰 및 평점 서비스</li>
                    <li>회원 간 커뮤니티 서비스</li>
                </ul>
                <p>2. 회사는 서비스의 내용을 변경하거나 중단할 수 있으며, 이 경우 변경 내용과 사유를 사전에 공지합니다.</p>

                <h6>제4조 (회원가입)</h6>
                <p>1. 이용자는 회사가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.</p>
                <p>2. 회사는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.</p>

                <h6>제5조 (회원 탈퇴 및 자격 상실)</h6>
                <p>1. 회원은 회사에 언제든지 탈퇴를 요청할 수 있으며 회사는 즉시 회원탈퇴를 처리합니다.</p>
                <p>2. 회원이 다음 각 호의 사유에 해당하는 경우, 회사는 회원자격을 제한 및 정지시킬 수 있습니다.</p>

                <h6>제6조 (개인정보보호)</h6>
                <p>회사는 관련법령이 정하는 바에 따라 회원의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련법령 및 회사의 개인정보처리방침이 적용됩니다.</p>

                <h6>제7조 (약관의 개정)</h6>
                <p>1. 회사는 필요한 경우 약관을 개정할 수 있으며, 개정된 약관은 웹사이트에 공지함으로써 효력이 발생합니다.</p>
                <p>2. 회원은 개정된 약관에 동의하지 않을 경우 회원 탈퇴를 요청할 수 있습니다.</p>
            </div>
        </div>
    </div>
</div>