<div th:fragment="userOrderExchangeReturnModal" class="modal fade" id="exchangeNreturn" tabindex="-1" role="dialog" aria-labelledby="exchangeNreturnLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exchangeNreturnLabel">교환/반품</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="exchangeReturnForm">
          <div class="form-group">
            <label for="exchangeReturnTitle">책제목:</label>
            <input class=" form-control" type="text" value="책제목" id="exchangeReturnTitle" readonly>
          </div>
          <div class="form-group">
            <label for="exchangeReturnReason">교환/반품 선택:</label>
            <select class="form-control" id="exchangeReturnCategory">
              <option value="0" selected disabled>선택</option>
              <option value="1">교환</option>
              <option value="2">반품</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exchangeReturnReason">교환/반품 사유:</label>
            <textarea class="form-control" id="exchangeReturnReason" rows="3"
                      required></textarea>
            <small class="text-muted">사유에는 교환 또는 반품 여부가 꼭 기재되어 있어야 합니다.</small>
          </div>
          <div class="form-group">
            <label>첨부 파일:</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input exchangeReturnFile">
              <label class="custom-file-label" id="exchangeReturnFile-label">파일 선택</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="submitExchangeReturn">신청하기</button>
        <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>