@media (max-width: 767px) {
    .payment-modal .modal-content {
        height: 100%;
    }
    
    .payment-modal .modal-body {
        max-height: 80vh;
        overflow-y: auto;
    }
    
    .payment-modal .form-control, .btn {
        font-size: 16px;
    }
}