.bg-image {
  background-image: url("/image/background.jpg");
  background-size: cover; /* 이미지가 화면 전체를 덮도록 */
  background-position: center; /* 이미지를 화면 중앙에 배치 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-attachment: fixed; /* 스크롤 시 배경 고정 */
}

/* Admin Aside */

.adminAside {
  font-family: Arial, sans-serif;
}
.adminAside hr {
  border-color: #ffffff;
}
.adminAside .sidebar {
  background-color: #343a40;
  height: 100vh;
  color: #ffffff;
}
.adminAside .sidebar ul {
  list-style: none;
}
.adminAside .sidebar ul li {
  padding: 10px 0;
}
.adminAside .sidebar ul li ul {
  font-size: 16px;
}
.adminAside .sidebar ul li strong {
  cursor: pointer;
  font-size: 22px;
}
.adminAside .sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding: 5px 0;
}
.adminAside .sidebar ul li a .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s ease;
}
.adminAside .sidebar ul li a:hover .underline {
  width: 100%;
}
.adminAside .sidebar ul li a.active .underline {
  width: 100%;
}
.adminAside .sidebar-last a {
  color: #ffffff;
  text-decoration: none;
}
.adminAside .sidebar-last a:hover {
  color: #007bff;
}

/* admin QnA Review event notice style 곂친지 확인해야함 class명*/
/*.container {*/
/*    margin-top: 20px;*/
/*}*/
/*.filter span {*/
/*    cursor: pointer;*/
/*    padding: 10px 20px;*/
/*    margin-right: 5px;*/
/*    border-radius: 5px;*/
/*    background: #eeeeee;*/
/*}*/
/*.filter span.active {*/
/*    background: #0d6efd;*/
/*    color: white;*/
/*}*/

/* */
