<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/css :: css}">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>책 리스트</title>
    <div th:replace="~{fragments/script :: script-head}"></div> <!-- 상단 JS -->
    <style>
        .side {
            padding-top: 220px;
        }

        .sidebar {
            top: 40px;
            border-radius: 15px;
            background-color: #f8f9fa;
            padding: 20px;
        }

        .product-list {
            padding: 20px;
        }

        .product-item {
            border: 1px solid rgba(0, 0, 0, .125);
            margin-bottom: 10px;
            padding: 10px;
        }

        .product-item h5 {
            font-size: 1rem;
            margin-bottom: 0.25rem;
        }

        .product-item p {
            font-size: 0.9rem;
            margin-bottom: 0.25rem;
        }
    </style>
</head>
<header th:replace="~{fragments/header :: header}"></header>
<body>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="row">
                <!-- 사이드바 -->
                <nav class="col-md-2 side">
                    <div class="position-sticky sidebar">
                        <h5 class="mb-3">결과 내 재검색</h5>
                        <div class="research-data">
                            <div class="mb-3">
                                <input type="text" class="form-control research-input" placeholder="검색어 입력">
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input research-checkbox" type="checkbox"
                                           th:data-type="title">
                                    <label class="form-check-label">
                                        제목
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input research-checkbox" type="checkbox"
                                           th:data-type="author">
                                    <label class="form-check-label">
                                        작가
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input research-checkbox" type="checkbox"
                                           th:data-type="isbn">
                                    <label class="form-check-label">
                                        ISBN
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input research-checkbox" type="checkbox"
                                           th:data-type="publisher">
                                    <label class="form-check-label">
                                        출판사
                                    </label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary w-100 mb-3 research-btn">검색</button>
                            <a href="/book/search" class="btn btn-success w-100 research-btn">검색 초기화</a>
                        </div>
                        <div class="mt-5">
                            <h2>국내</h2>
                            <div class="category pl-3">
                                <div th:each="entry : ${domesticCategoryMap}">
                                    <p class="mb-0 mt-3">
                                        <a class="text-decoration-none text-black-50"
                                           th:href="@{/book/search(keyword=${keyword}, page=0, val=${val}, sort=${sort}, direction=${direction}, ifkr=0, category=${entry.key.name})}"
                                           th:text="${entry.key.name}"></a>
                                    </p>
                                    <p class="pl-3 mt-2 mb-0" th:each="domesticSubcategory : ${entry.value}">
                                        <a class="text-decoration-none text-black-50"
                                           th:href="@{/book/search(keyword=${keyword}, page=0, val=${val}, sort=${sort}, direction=${direction}, ifkr=0, category=${entry.key.name}, subcategory=${domesticSubcategory.name})}"
                                           th:text="${domesticSubcategory.name}"></a>
                                    </p>
                                </div>
                            </div>
                            <h2 class="mt-3">국외</h2>
                            <div class="category pl-3">
                                <div th:each="entry : ${foreignCategoryMap}">
                                    <p class="mb-0 mt-3">
                                        <a class="text-decoration-none text-black-50"
                                           th:href="@{/book/search(keyword=${keyword}, page=0, val=${val}, sort=${sort}, direction=${direction}, ifkr=1, category=${entry.key.name})}"
                                           th:text="${entry.key.name}"></a>
                                    </p>
                                    <p class="pl-3 mt-2 mb-0" th:each="foreignSubcategory : ${entry.value}">
                                        <a class="text-decoration-none text-black-50"
                                           th:href="@{/book/search(keyword=${keyword}, page=0, val=${val}, sort=${sort}, direction=${direction}, ifkr=1, category=${entry.key.name}, subcategory=${foreignSubcategory.name})}"
                                           th:text="${foreignSubcategory.name}"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- 메인 상품 목록 -->
                <main class="col-md-10">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class=" product-list">
                                    <h2 class="mt-1 mb-5" th:text="${val}+'(으)로 검색한 상품목록'">'ooo'로 검색한 상품목록</h2>
                                    <div class="d-flex justify-content-end align-items-center mb-3">
                                        <div class="form-check mt-3 me-2">
                                            <input class="form-check-input" type="checkbox" id="selectAll">
                                            <label class="form-check-label" for="selectAll">전체 선택</label>
                                        </div>
                                        <button th:if="${userData}" class="btn btn-primary ml-3 mt-3 cartAdd"
                                                th:data-type="one"
                                        >장바구니 담기
                                        </button>
                                        <button th:unless="${userData}" class="btn btn-primary ml-3 mt-3 loginCheck"
                                                th:data-type="one"
                                        >장바구니 담기
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-end mb-3">
                                        <select class="form-select form-select-sm" id="sortOptions"
                                                style="width: auto;">
                                            <option selected disabled>정렬 방식 선택</option>
                                            <option value="count"
                                                    th:data-option="count"
                                                    th:data-direction="high"
                                                    th:selected="${sort == 'count' and direction == 'desc'}">관심많은순
                                            </option>
                                            <option value="publishDateNew"
                                                    th:data-option="publishDate"
                                                    th:data-direction="new"
                                                    th:selected="${sort == 'publishDate' and direction == 'asc'}">신간순
                                            </option>
                                            <option value="priceHigh"
                                                    th:data-option="price"
                                                    th:data-direction="high"
                                                    th:selected="${sort == 'price' and direction == 'desc'}">최고가순
                                            </option>
                                            <option value="priceLow"
                                                    th:data-option="price"
                                                    th:data-direction="low"
                                                    th:selected="${sort == 'price' and direction == 'asc'}">최저가순
                                            </option>
                                        </select>
                                    </div>

                                    <!-- 상품 목록 공간 -->
                                    <div class="product-items mb-5">
                                        <!-- 상품 목록 -->
                                        <div
                                                class="card mb-3 paymentModal-Data cart-Data text-decoration-none"
                                                th:each="book, index:${bookList}">
                                            <input type="hidden" class="quantity" value="1">
                                            <div class="row g-0">
                                                <!-- 이미지 및 체크박스 -->
                                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                                    <div class="form-check ms-2 text-center mr-4">
                                                        <input class="form-check-input cart-checkbox" type="checkbox">
                                                    </div>
                                                    <img th:src="${imageList[index.index] != '' ? imageList[index.index] : 'https://via.placeholder.com/100'}"
                                                         th:alt="${book.id}+'번 책표지'" class="img-thumbnail bookImage"
                                                         style="width: 180px;height: 250px;object-fit: cover">
                                                </div>
                                                <!-- 책 정보 -->
                                                <div class="col-md-5">
                                                    <div class="card-body pl-0">
                                                        <!-- 책 제목 및 장르 -->
                                                        <h6 class="text-muted"
                                                            th:text="${book.category.name}+'/'+${book.subcategory.name}"></h6>
                                                        <h5 class="card-title title" th:text="${book.title}"></h5>

                                                        <!-- 저자명 / 출판사 / 출간일 -->
                                                        <p class="card-text"
                                                           th:text="${book.author}+' 지음 / '+${book.publisher}+' / '+${#dates.format(book.publishDate, 'yyyy년 MM월')}"></p>

                                                        <!-- ISBN -->
                                                        <p class="card-text" th:text="'ISBN: '+${book.isbn}"></p>

                                                        <!-- 가격 및 할인 정보 -->
                                                        <p class="card-text">
                                                            <!-- 원래 가격 -->
                                                            <del style="font-size: 1.2rem;"
                                                                 class="me-2 price" th:text="${book.price}">
                                                            </del>
                                                            <!-- 할인된 가격 -->
                                                            <span style="font-size: 1.5rem;"
                                                                  class="text-danger fw-bold discountPrice"></span>
                                                            <small>[<span class="discount"
                                                                          th:text="${book.discount}"></span>%할인]</small>
                                                        </p>

                                                        <!-- 책 소개 -->
                                                        <p class="card-text text-truncate"
                                                           th:text="${book.bookdescription.description}"></p>
                                                        <a th:href="@{/book/detail(bookId=${book.id})}"
                                                           class="stretched-link"></a>
                                                    </div>
                                                </div>

                                                <!-- 버튼 영역 -->
                                                <div
                                                        class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                                                    <button th:if="${userData}"
                                                            class="btn btn-primary btn-lg mb-2 w-75 cartAdd"
                                                            th:data-type="one"
                                                            th:data-book-id="${book.id}">장바구니담기
                                                    </button>
                                                    <button th:if="${userData}"
                                                            class="btn btn-outline-dark btn-lg w-75 paymentModalBtn"
                                                            th:data-type="one"
                                                            data-toggle="modal"
                                                            data-target="#paymentModal">바로구매하기
                                                    </button>
                                                    <button th:unless="${userData}"
                                                            class="btn btn-primary btn-lg mb-2 w-75 loginCheck"
                                                            th:data-type="one"
                                                            th:data-book-id="${book.id}">장바구니담기
                                                    </button>
                                                    <button th:unless="${userData}"
                                                            class="btn btn-outline-dark btn-lg w-75 loginCheck"
                                                            th:data-type="one"
                                                            data-toggle="modal"
                                                            data-target="#paymentModal">바로구매하기
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 상품 목록 끝-->
                                    </div>

                                    <!-- 페이징 -->
                                    <nav aria-label="Page navigation" class="mt-4">
                                        <ul class="pagination justify-content-center">
                                            <!-- 첫 페이지 버튼 -->
                                            <li class="page-item" th:classappend="${page.first} ? 'disabled' : ''">
                                                <a class="page-link"
                                                   th:href="@{/book/search(keyword=${keyword}, page=0, val=${val},sort=${sort},direction=${direction}, ifkr=${ifkr}, category=${category}, subcategory=${subcategory})}"
                                                   aria-label="First">
                                                    << 처음
                                                </a>
                                            </li>

                                            <!-- 이전 페이지 버튼 -->
                                            <li class="page-item"
                                                th:classappend="${page.hasPrevious} ? '' : 'disabled'">
                                                <a class="page-link"
                                                   th:href="@{/book/search(keyword=${keyword}, page=${page.number - 1}, val=${val},sort=${sort},direction=${direction}, ifkr=${ifkr}, category=${category}, subcategory=${subcategory})}"
                                                   aria-label="Previous">
                                                    이전
                                                </a>
                                            </li>

                                            <!-- 페이지 번호 버튼 (최대 5개까지 보이도록 설정) -->
                                            <li class="page-item"
                                                th:each="i : ${#numbers.sequence(
                                                page.totalPages <= 5 ? 0 : (page.number <= 2 ? 0 : (page.number >= page.totalPages - 3 ? page.totalPages - 5 : page.number - 2)),
                                                page.totalPages <= 5 ? page.totalPages - 1 : (page.number <= 2 ? 4 : (page.number >= page.totalPages - 3 ? page.totalPages - 1 : page.number + 2))
                                                )}"
                                                th:classappend="${page.number == i} ? 'active' : ''">
                                                <a class="page-link"
                                                   th:href="@{/book/search(keyword=${keyword}, page=${i}, val=${val}, sort=${sort}, direction=${direction}, ifkr=${ifkr}, category=${category}, subcategory=${subcategory})}"
                                                   th:text="${i + 1}"></a>
                                            </li>

                                            <!-- 다음 페이지 버튼 -->
                                            <li class="page-item" th:classappend="${page.hasNext} ? '' : 'disabled'">
                                                <a class="page-link"
                                                   th:href="@{/book/search(keyword=${keyword}, page=${page.number + 1}, val=${val},sort=${sort},direction=${direction}, ifkr=${ifkr}, category=${category}, subcategory=${subcategory})}"
                                                   aria-label="Next">
                                                    다음
                                                </a>
                                            </li>

                                            <!-- 맨 뒤 페이지 버튼 -->
                                            <li class="page-item" th:classappend="${page.last} ? 'disabled' : ''">
                                                <a class="page-link"
                                                   th:href="@{/book/search(keyword=${keyword}, page=${page.totalPages - 1}, val=${val},sort=${sort},direction=${direction}, ifkr=${ifkr}, category=${category}, subcategory=${subcategory})}"
                                                   aria-label="Last">
                                                    끝 >>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${userData}">
    <div th:replace="~{fragments/paymentModal :: paymentModal}"></div>
</th:block>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/script :: script-body}"></div> <!-- 하단 JS -->
</body>
</html>