<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>마이 페이지</title>
    <link rel="canonical" href="https://getbootstrap.kr/docs/5.1/examples/blog/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <style>
        #ratingStars i {
            cursor: pointer;
            color: #ccc;
            font-size: 24px;
        }

        #ratingStars i:hover,
        #ratingStars i:hover ~ i {
            color: #ffc107;
        }

        #ratingStars i.bi-star-fill {
            color: #ffc107;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container mt-5">
    <h1 class="mb-4">마이페이지</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab"
                   th:class="${param.qnaPage == null && param.orderPage == null} ? 'nav-link active' : 'nav-link'">나의
                    정보</a>
                <a class="nav-link" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab"
                   th:class="${param.orderPage != null} ? 'nav-link active' : 'nav-link'">주문내역</a>
                <a class="nav-link" id="v-pills-inquiries-tab" data-toggle="pill" href="#inquiry" role="tab"
                   th:class="${param.qnaPage != null} ? 'nav-link active' : 'nav-link'">문의내역</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade" id="v-pills-info" role="tabpanel"
                     th:class="${param.qnaPage == null && param.orderPage == null} ? 'tab-pane fade show active' : 'tab-pane fade'">
                    <div th:replace="~{fragments/userInfo :: userInfo}"></div>
                </div>
                <div class="tab-pane fade" id="v-pills-orders" role="tabpanel"
                      th:classappend="${param.orderPage != null && param.qnaPage == null} ? 'show active'">
                    <div th:replace="~{fragments/userOrders :: userOrders}"></div>
                </div>
                <div th:replace="~{fragments/questionUser :: questionUser}"></div>
            </div>
        </div>
    </div>
</div>
<!--모달 추가란-->
<div class="modal fade" id="exchangeNreturn" tabindex="-1" role="dialog" aria-labelledby="exchangeNreturnLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exchangeNreturnLabel">교환/반품</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="exchangeReturnForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exchangeReturnReason">교환/반품 사유:</label>
                        <textarea class="form-control" id="exchangeReturnReason" name="reason" rows="3"
                                  required></textarea>
                        <small class="text-muted">사유에는 교환 또는 반품 여부가 꼭 기재되어 있어야 합니다.</small>
                    </div>
                    <div class="form-group">
                        <label for="exchangeReturnFile">첨부 파일:</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exchangeReturnFile" name="attachment">
                            <label class="custom-file-label" for="exchangeReturnFile">파일 선택</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitExchangeReturn">신청하기</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/userOrdersDetailModal :: userOrdersDetailModal}"></div>
<div th:replace="~{fragments/userOrderSuccessModal :: userOrderSuccessModal}"></div>
<div th:replace="~{fragments/userOrdersReviewModal :: userOrdersReviewModal}"></div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>