<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/css :: css}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container mt-5">
    <h1 class="mb-4">마이페이지</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab"
                   th:class="${param.qnaPage == null && param.orderPage == null} ? 'nav-link active' : 'nav-link'">나의
                    정보</a>
                <a class="nav-link" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab"
                   th:class="${param.orderPage != null} ? 'nav-link active' : 'nav-link'">주문내역</a>
                <a class="nav-link" id="v-pills-inquiries-tab" data-toggle="pill" href="#inquiry" role="tab"
                   th:class="${param.qnaPage != null} ? 'nav-link active' : 'nav-link'">문의내역</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade" id="v-pills-info" role="tabpanel"
                     th:class="${param.qnaPage == null && param.orderPage == null} ? 'tab-pane fade show active' : 'tab-pane fade'">
                    <div th:replace="~{fragments/userInfo :: userInfo}"></div>
                </div>
                <div class="tab-pane fade" id="v-pills-orders" role="tabpanel"
                      th:classappend="${param.orderPage != null && param.qnaPage == null} ? 'show active'">
                    <div th:replace="~{fragments/userOrders :: userOrders}"></div>
                </div>
                <div th:replace="~{fragments/questionUser :: questionUser}"></div>
            </div>
        </div>
    </div>
</div>
<!--모달 추가란-->
<div th:replace="~{fragments/userOrderExchangeReturnModal :: userOrderExchangeReturnModal}"></div>
<div th:replace="~{fragments/userOrdersDetailModal :: userOrdersDetailModal}"></div>
<div th:replace="~{fragments/userOrderSuccessModal :: userOrderSuccessModal}"></div>
<div th:replace="~{fragments/userOrdersReviewModal :: userOrdersReviewModal}"></div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/script :: script-body}"></div> <!-- 하단 JS -->
</body>
</html>