<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 및 이벤트</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body>
    <div class="container mt-5">
        <div class="card mb-5">
            <div class="card-header">

                <div class="row mt-4">
                    <h3 class="col-md-12 d-flex justify-content-center mb-0">대상혁의 외침</h3>
                </div>
                <div class="row mt-5">
                    <p class="col-md-6 d-flex align-items-center mb-0">유형 : &nbsp;<strong>공지사항</strong></p>
                    <p class="col-md-3 a d-flex justify-content-end align-items-center mb-0">작성자
                        :&nbsp;<strong>관리자</strong></p>
                    <p class="col-md-3 d-flex justify-content-end align-items-center mb-0">날짜 :
                        &nbsp;<strong>2024-11-21</strong></p>
                </div>
            </div>

            <div class="card-body overflow-auto">
                <div class="card-text">
                    <p>국회는 국정을 감사하거나 특정한 국정사안에 대하여 조사할 수 있으며, 이에 필요한 서류의 제출 또는 증인의 출석과 증언이나 의견의 진술을 요구할 수 있다.</p>

                    <p>외국인은 국제법과 조약이 정하는 바에 의하여 그 지위가 보장된다. 광물 기타 중요한 지하자원·수산자원·수력과 경제상 이용할 수 있는 자연력은 법률이 정하는 바에 의하여 일정한
                        기간
                        그 채취·개발 또는 이용을 특허할 수 있다.</p>

                    <p>국회의원의 선거구와 비례대표제 기타 선거에 관한 사항은 법률로 정한다. 이 헌법에 의한 최초의 대통령의 임기는 이 헌법시행일로부터 개시한다. 헌법재판소의 장은 국회의 동의를
                        얻어
                        재판관중에서 대통령이 임명한다.</p>

                    <p>학교교육 및 평생교육을 포함한 교육제도와 그 운영, 교육재정 및 교원의 지위에 관한 기본적인 사항은 법률로 정한다. 위원은 정당에 가입하거나 정치에 관여할 수 없다.</p>

                    <p>국회의원은 국가이익을 우선하여 양심에 따라 직무를 행한다. 헌법재판소 재판관은 정당에 가입하거나 정치에 관여할 수 없다. 대통령은 법률안의 일부에 대하여 또는 법률안을
                        수정하여
                        재의를 요구할 수 없다.</p>
                </div>
                <div class="card-img">
                    <img src="../faker1.jpg" class="card-img-top img-thumbnail" alt="">
                </div>
            </div>
            <div class="card-footer">
                <!-- <div class="text-muted d-flex align-items-center justify-content-center mb-0">
                    공지사항의 내용은 회사의 정책에 따라 변경 또는 삭제될 수 있습니다.
                </div> -->
                <div class="text-muted d-flex align-items-center justify-content-center mb-0">
                    <small>※ 본 이벤트는 출판사 요청에 따라 출판사 주관하에 진행됩니다. 사은품 이벤트의 경우 도서정가제 규정에 따라 사은품 수령 선택 시, 마일리지 또는 적립금이 차감됩니다. (마일리지 차감액은 주문과정에서 확인하실 수 있습니다.)</small>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>